* {
    padding: 0;
    margin: 0;
}
.wrapper {
    width: 1172px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper_background {
    background: #FAFAFA;
    width: 98vw;
}

.header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-text {
    font-family: 'Gilroy-Bold', sans-serif;
}

.header__buttons {
    display: flex;
    font-family: 'Gilroy', sans-serif;
}

.orange_color{
    color: #F25822;
}

.header__logo-text {
    margin-left: 14px;
}

.header__buttons-button {
    width: 76px;
    text-align: center;
}


.content {
    margin-top: 84px;
    display: grid;
    grid-template-columns: 1fr 1.168fr;
}

.content__text-headline {
    color: #000;
    font-family: Gilroy-Bold, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: darkgrey px 3px 3px ;
}

.content__text-text {
    color: grey;
    font-family: Gilroy-Medium, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__text-buttons {
    display: flex;
    margin-top: 27px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Gilroy-Bold, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 140px;
    height: 50px;
    border-radius: 50px;
}

.button__white {
    color: #AAA;;
    background: white;
    display: flex;
    width: 160px;
    margin-left: 27px;
}

.button__red {
    color: white;
    background: #F25822;
    box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.20);
}

.iconplay {
    margin-right: 15px;
}

.logos {
    margin-top: 163px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.advantages {
    display: flex;
    justify-content: center;
}

.advantage {
    display: flex;
    flex-direction: column;

    width: 370px;
    height: 225px;

    margin: 100px 0 100px 0;
    padding: 40px 30px 25px
}

.div_shadow {
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.advantage_icon {
    width: 70px;
    height: 70px;
}

.advantage_header {
    color: #000;
    font-family: Gilroy-Bold, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 25px 0 17px 0px;
}

.advantage_text {
    color: #666;
    font-family: Gilroy-Regular, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
}

.advantage_readmore {
    color: #000;
    font-family: Gilroy-Bold, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 16.5px */

    margin-top: 25px;
}

.arguments {
    padding: 92px 0 100px 0;
}

.arguments_text {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.args_header {
    color: #000;
    font-family: Gilroy-Bold, serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.args_text {
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */

    margin: 19px 0 54px 0;
}

.arguments_cards {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.argument {
    width: 370px;
    height: 549px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;

    overflow: hidden;
}

.argument_header {
    color: #000;
    font-family: Gilroy-Bold, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.argument_text {
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */

    padding: 22px 30px 39px 30px;
}

.argument_image {
    width: 396px;
    height: 289px;
}