@import "vars";

@mixin fontSets($color, $family, $weight, $size) {
  color: $color;
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
}

@mixin gridSets($gridArea, $wight, $height) {
  grid-area: $gridArea;
  width: $wight;
  height: $height;
  background: black;
}

@mixin flexCenter () {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textInputs {
  width: 360px;
  height: 45px;
  border: 1px solid $mainGreyColor;
  padding-left: 17px;
  @include fontSets($mainGreyColor, $mainFont, 300, 13px);
}
