@media (max-width: 1024px) {
    .container {
        padding: 16px 230px 16px 230px;
    }
    .signboard__right-text-bold {
        font-size: 44px;
    }
    .signboard__right-text-regular {
        font-size: 24px;
    }
    .signboard__right-text-pink {
        font-size: 24px;
    }
    .signboard__img {
        left: -35px;
    }
    .stick {
        height: 83px;
        right: 300px;
    }
    .catalog {
        width: 750px;
        column-gap: 19px;
        row-gap: 19px;
    }
    .catalog__square-1 {
        width: 231px;
        height: 167px;
    }
    .catalog__square-2 {
        width: 231px;
        height: 167px;
    }
    .catalog__square-3 {
        width: 231px;
        height: 167px;
    }
    .catalog__rectangle {
        width: 744px;
        height: 116px;
    }
    .catalog__image {
        width: 231px;
        height: 167px;
    }
    .catalog__text {
        bottom: 110px;
    }
    .catalog__rectangle-image {
        width: 744px;
        height: 116px;
    }
    .catalog__rectangle-text {
        top: -85px;
    }
    .featured__cards-card {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
    .footer__features {
        flex-direction: column;
        height: 610px;
    }
    .footer__subscribe {
        flex-direction: column;
        gap: 25px;
    }
    .footer__copyrights {
        gap: 540px;
    }
}

@media (max-width: 767px) {
    .signboard {
        height: 363px;
    }
    .signboard__img {
        display: none;
    }
    .stick {
        height: 73px;
        right: 245px;
    }
    .signboard__right-text {
        right: 0;
    }
    .signboard__right-text-bold {
        font-size: 38px;
    }

    .signboard__right-text-regular {
        font-size: 20px;
    }
    .signboard__right-text-pink {
        font-size: 20px;
    }
    .container {
        padding: 16px 0 16px 0;
    }
    .catalog {
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .catalog__square-1 {
        width: 320px;
        height: 247px;
    }
    .catalog__square-2 {
        width: 320px;
        height: 247px;
    }
    .catalog__square-3 {
        width: 320px;
        height: 247px;
    }
    .catalog__image {
        width: 320px;
        height: 247px;
    }
    .catalog__text {
        bottom: 150px;
    }
    .catalog__rectangle {
        width: 320px;
        height: 111px;

        position: relative;
        overflow: hidden;
    }
    .catalog__rectangle-image {
        width: 744px;
        height: 111px;

        position: relative;
        right: 207px;
    }
    .featured__cards-card {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }

    .featured__cards-card {
        background: #F8F8F8;
        width: 320px;
        height: 550px;

        display: flex;
        flex-direction: column;
    }

    .featured__cards-card_hover {
        width: 320px;
        height: 373px;
    }
    .featured__cards-card-image{
        width: 320px;
        height: 373px;
    }
    .featured__image {
        width: 320px;
        height: 373px;
    }
    #cart {
        display: none;
    }
    #profile {
        display: none;
    }
    .footer__features {
        padding: 0 0 0 0;
    }

    .footer__copyrights {
        height: 143px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        gap: 0;
    }
    .footer__copyrights-text {
        width: 250px;
        position: relative;
        top:65px
    }
    .footer__copyrights-icons {
        position: relative;
        bottom: 20px;
    }
    .footer__subscribe-right {
        scale: 0.9;
    }
    .footer__subscribe-left {
        scale: 0.9;
    }
}
