@media (max-width: 1024px) {
    .container {
        padding: 16px 230px 16px 230px;
    }
    .isHidden {
        display: none;
    }

}

@media (max-width: 767px) {
    .container {
        padding: 16px 0 16px 0;
    }
}
