summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.heading {
  height: 148px;
  background: #F8F3F4;
  display: flex;
  justify-content: center;
}
.heading__container {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading .arrivals {
  color: #F16D7F;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 24px;
}
.heading .selectors {
  color: #8c8c8c;
  font-family: Lato, serif;
  font-weight: 300;
  font-size: 14px;
}
.heading .selectors__pink {
  color: #F16D7F;
  font-family: Lato, serif;
  font-weight: 700;
  font-size: 14px;
}

.filter-sort {
  width: 1140px;
  margin: 0 auto;
  height: 132px;
  position: relative;
  display: flex;
  justify-content: center;
}
.filter-sort .filter__heading {
  color: #222222;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 14px;
}
.filter-sort .filter__subheading {
  color: #8c8c8c;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
  padding: 8px 11px 11px 11px;
}
.filter-sort .filter__item[open] .filter__subheading {
  color: #F16D7F;
}
.filter-sort .filter__content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.filter-sort .filter__links-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin: 24px 0 6px 17px;
}
.filter-sort .filter__link {
  text-decoration: none;
  color: #8c8c8c;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 14px;
}
.filter-sort .filter__details {
  padding: 13px 16px 13px;
  width: 360px;
  position: absolute;
  top: 44px;
  left: -17px;
  box-sizing: border-box;
  z-index: 1;
}
.filter-sort .filter__details[open] {
  width: 360px;
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter-sort .filter__details[open] .filter__heading {
  color: #F16D7F;
}
.filter-sort .filter__details[open] path {
  fill: #F16D7F;
}
.filter-sort .filter__details-summary {
  display: flex;
  align-content: center;
  gap: 11px;
}
.filter-sort .filter__details-summary svg {
  position: relative;
  top: 3px;
}
.filter-sort .sort {
  color: #8c8c8c;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 28px;
}
.filter-sort .sort__size {
  position: relative;
}
.filter-sort .sort__size-sizes {
  width: 79px;
  position: absolute;
  top: 25px;
  left: -18px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 9px 0 12px 9px;
  gap: 9px;
  background: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
}

.paginator {
  height: 188px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginator svg {
  padding: 0 15px 0 15px;
  position: relative;
  top: -1px;
}
.paginator__selector {
  width: 283px;
  height: 43px;
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
  font-family: Lato, serif;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

body {
  margin: 0;
  padding: 0;
}

.menu {
  background: #222222;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__container {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__right {
  display: flex;
  gap: 2rem;
}
.menu__left {
  display: flex;
  gap: 41px;
}
.menu__left-search {
  position: relative;
  top: 5px;
}

.signboard {
  background: #F1E4E6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signboard__img {
  position: relative;
  right: 235px;
}
.signboard__right-text {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 150px;
}
.signboard__right-text-bold {
  color: #222222;
  font-family: Lato, serif;
  font-weight: 900;
  font-size: 48px;
}
.signboard__right-text-regular {
  color: #222222;
  font-family: Lato, serif;
  font-weight: 700;
  font-size: 32px;
}
.signboard__right-text-pink {
  color: #F16D7F;
  font-family: Lato, serif;
  font-weight: 700;
  font-size: 32px;
}
.signboard .stick {
  height: 93px;
  position: absolute;
  right: 392px;
}

.container {
  padding: 65px 230px 60px 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog {
  margin-bottom: 96px;
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  width: 1140px;
  grid-template-areas: "A B C" "D D D";
}
.catalog__square-1 {
  grid-area: A;
  width: 360px;
  height: 260px;
  background: black;
}
.catalog__square-2 {
  grid-area: B;
  width: 360px;
  height: 260px;
  background: black;
}
.catalog__square-3 {
  grid-area: C;
  width: 360px;
  height: 260px;
  background: black;
}
.catalog__rectangle {
  grid-area: D;
  width: 1140px;
  height: 180px;
  background: black;
}
.catalog__rectangle-text {
  top: -110px;
}
.catalog__image {
  opacity: 0.5;
}
.catalog__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 160px;
}
.catalog__text-first-line {
  color: white;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 16px;
}
.catalog__text-second-line {
  color: #F16D7F;
  font-family: Lato, serif;
  font-weight: 700;
  font-size: 24px;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 48px;
}
.products__text-headline {
  color: #222222;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 30px;
}
.products__text-text {
  color: #8c8c8c;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 14px;
}
.products__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.products__cards-card {
  background: #F8F8F8;
  width: 360px;
  height: 586px;
  display: flex;
  flex-direction: column;
}
.products__cards-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7E4E2;
  height: 420px;
}
.products__cards-card_hover {
  width: 360px;
  height: 420px;
  background: rgba(58, 56, 56, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
}
.products__cards-card_hover:hover {
  opacity: 100;
}
.products__cards-card_hover-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 44px;
  border: 1px white solid;
  gap: 11px;
}
.products__cards-card-text {
  padding: 24px 29px 20px 18px;
  display: flex;
  flex-direction: column;
}
.products__cards-card-name {
  color: #222222;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 14px;
}
.products__cards-card-description {
  margin: 12px 0 18px 0;
  color: #8c8c8c;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 14px;
}
.products__cards-card-price {
  color: #F16D7F;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 16px;
}
.products .hover-button-text {
  color: white;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 14px;
}
.products__button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F16D7F;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 48px;
  width: 212px;
  height: 48px;
  border: 1px red solid;
  cursor: pointer;
}
.products__button:hover {
  background: red;
  color: white;
}

.footer__features-feature {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 320px;
  gap: 1rem;
}

.footer__features {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 370px 0 370px;
  background: black;
  height: 341px;
  gap: 3rem;
}
.footer__pics {
  width: 47px;
  height: 35px;
}
.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 32px;
  background: white;
}
.footer-icon:hover {
  background: #F16D7F;
}
.footer-icon:hoversvg {
  fill: white;
}
.footer__headline {
  color: white;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 20px;
}
.footer__description {
  text-align: center;
  color: white;
  font-family: Lato, serif;
  font-weight: 300;
  font-size: 14px;
  height: 34px;
  width: 310px;
}
.footer__subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 448px;
  gap: 224px;
  position: relative;
}
.footer__subscribe-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 360px;
}
.footer__subscribe-right {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.footer__subscribe::after {
  content: "";
  background: url("img/footer/background.png") no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.footer__copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79px;
  background: black;
  gap: 600px;
  padding: 0 10px 0 10px;
}
.footer__copyrights-text {
  color: white;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 20px;
  width: 332px;
}
.footer__copyrights-icons {
  display: flex;
  gap: 8px;
}

.subscribe__photo {
  border-radius: 65px;
  width: 96px;
  height: 96px;
}
.subscribe__left-text {
  text-align: center;
  color: #222222;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 20px;
}
.subscribe__right-text {
  text-align: center;
  color: #222222;
  font-family: Lato, serif;
  font-weight: 500;
  font-size: 20px;
}
.subscribe__right-text-highlight {
  font-size: 28px;
  font-weight: 900;
}
.subscribe__input {
  width: 309px;
  height: 47px;
  background: #E1E1E1;
  padding-left: 22px;
  border-radius: 62px;
  border: none;
  position: relative;
  left: 24px;
}
.subscribe__right-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
}
.subscribe__input:focus {
  outline: none;
}
.subscribe__button {
  position: relative;
  right: 24px;
}
.subscribe__button-text {
  position: absolute;
  top: 17px;
  left: 17px;
  color: white;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
