@import "vars";
@import "mixins";

body {
  margin: 0;
  padding: 0;
}

.menu {
  background: $mainBlackColor;
  height: 75px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 370px 0 370px;

    &__right {
      display: flex;
      gap: 2rem;
    }
    &__left {
      display: flex;
      gap: 41px;
    }
    &__left-search {
      position: relative;
      top: 5px;
    }
}

.signboard {
  background: #F1E4E6;

  display: flex;
  justify-content: center;
  align-items: center;

    &__img {
      position: relative;
      right: 235px;
    }
    &__right-text {
      display: flex;
      flex-direction: column;

      position: relative;
      right: 150px;
    }
    &__right-text-bold {
      @include fontSets($mainBlackColor, $mainFont, 900, 48px);
    }
    &__right-text-regular {
      @include fontSets($mainBlackColor, $mainFont, 700, 32px);
    }
    &__right-text-pink {
      @include fontSets($mainPinkColor, $mainFont, 700, 32px);
    }
  .stick {
    height: 93px;
    position: absolute;
    right: 392px;
  }
}

.container {
  padding: 65px 230px 60px 230px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog {
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  width: $siteWight;

  grid-template-areas:
        "A B C"
        "D D D";

    &__square-1 {
      @include gridSets(A, 360px, 260px);
    }
    &__square-2 {
      @include gridSets(B, 360px, 260px);
    }
    &__square-3 {
      @include gridSets(C, 360px, 260px);
    }
    &__rectangle {
      @include gridSets(D, $siteWight, 180px);
    }
    &__rectangle-text {
      top: -110px;
    }
    &__image {
      opacity: 0.5;
    }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: relative;
      bottom: 160px;
    }
    &__text-first-line {
      @include fontSets(white, $mainFont, 400, 16px);
    }
    &__text-second-line {
      @include fontSets($mainPinkColor, $mainFont, 700, 24px);
    }
}

.featured {
  margin-top: 96px;

  display: flex;
  flex-direction: column;
  align-items: center;

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-bottom: 48px;
    }
    &__text-headline {
      @include fontSets($mainBlackColor, $mainFont, 400, 30px);
    }
    &__text-text {
      @include fontSets($mainGreyColor, $mainFont, 400, 14px);
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;

        &-card {
          background: #F8F8F8;
          width: 360px;
          height: 586px;

          display: flex;
          flex-direction: column;
        }
        &-card-image {
          background: #F7E4E2;
          height: 420px;

          display: flex;
          justify-content: center;
          align-items: center;
        }
        &-card_hover {
          width: 360px;
          height: 420px;

          background: rgba(58, 56, 56, 0.86);

          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          opacity: 0;
        }
        &-card_hover:hover {
          opacity: 100;
        }
        &-card_hover-button {
          width: 139px;
          height: 44px;
          border: 1px white solid;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 11px;
        }
        &-card-text {
          padding: 24px 29px 20px 18px;

          display: flex;
          flex-direction: column;
        }
        &-card-name {
          @include fontSets($mainBlackColor, $mainFont, 400, 14px);
        }
        &-card-description {
          margin: 12px 0 18px 0;
          @include fontSets($mainGreyColor, $mainFont, 400, 14px);
        }
        &-card-price {
          @include fontSets($mainPinkColor, $mainFont, 400, 16px);
        }
      }
  .hover-button-text {
    @include fontSets(white, $mainFont, 400, 14px);
  }
  &__button {
    margin-top: 48px;

    width: 212px;
    height: 48px;
    border: 1px red solid;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;

    cursor: pointer;

    @include fontSets($mainPinkColor, $mainFont, 400, 16px);
  }

  &__button:hover {
    background: red;
    color: white;
  }
}

.footer__features-feature {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 320px;
  gap: 1rem;
}

.footer {
  &__features {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 370px 0 370px;
    background: black;
    height: 341px;
    gap: 3rem;
  }
  &__pics {
    width: 47px;
    height: 35px;
  }
  &-icon {
    width: 31px;
    height: 32px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-icon:hover {
    background: $mainPinkColor;
    &svg {
      fill: white;
    }
  }
  &__headline {
    @include fontSets(white, $mainFont, 400, 20px);
  }
  &__description {
    text-align: center;
    @include fontSets(white, $mainFont, 300, 14px);

    height: 34px;
    width: 310px;
  }
  &__subscribe {
    height: 448px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 224px;
    position: relative;

      &-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 360px;
      }
      &-right {
        display: flex;
        flex-direction: column;

        width: 500px;
      }
      &::after {
        content: "";
        background: url("img/footer/background.png") no-repeat;
        background-size: cover;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }
  }
  &__copyrights {
    height: 79px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 600px;
    padding: 0 10px 0 10px;

      &-text {
        @include fontSets(white, $mainFont, 400, 20px);
        width: 332px;
      }
      &-icons {
      display: flex;
      gap: 8px;
    }
  }
}

.subscribe {
  &__photo {
    border-radius: 65px;
    width: 96px;
    height: 96px;
  }
  &__left-text {
    text-align: center;
    @include fontSets($mainBlackColor, $mainFont, 400, 20px);
  }
  &__right-text {
    text-align: center;
    @include fontSets($mainBlackColor, $mainFont, 500, 20px);
      &-highlight {
        font-size: 28px;
        font-weight: 900;
      }
  }
  &__input {
    width: 309px;
    height: 47px;
    background: #E1E1E1;
    padding-left: 22px;
    border-radius: 62px;
    border: none;
    position: relative;
    left: 24px;
  }
  &__right-form {
    display: flex;
    justify-content: center;
    margin-top: 38px;
  }
  &__input:focus {
    outline: none;
  }
  &__button {
    position: relative;
    right: 24px;
    &-text {
      position: absolute;
      top: 17px;
      left: 17px;
      @include fontSets(white, $mainFont, 400, 14px);
    }
  }
}
