@import "vars";
@import "mixins";
@import "catalog";
@import "product";
@import "cart";
@import "registration";
@import "index";

//html {
//  overflow-x: hidden;
//}

body {
  //overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.form-spans {
  @include fontSets($mainBlackColor, $mainFont, 300, 16px);
}

input::placeholder {
  color: black;
}

.isHidden {
  display: flex;
}

.menu {
  background: $mainBlackColor;
  height: 75px;
  padding: 0 32px 0 32px;
  @include flexCenter;

    &__container {
      width: $siteWight;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__right {
      display: flex;
      gap: 2rem;
    }
    &__left {
      display: flex;
      gap: 41px;
    }
    &__left-search {
      position: relative;
      top: 5px;
    }
}

@media (max-width: 768px) {
  #cart {
    display: none;
  }
  #profile {
    display: none;
  }
}
.heading {
  height: 148px;
  background: $secondPinkColor;
  display: flex;
  justify-content: center;

  &__container {
    padding: 0 32px 0 32px;
    width: $siteWight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 425px) {
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  .arrivals {
    @include fontSets($mainPinkColor, $mainFont, 400, 24px);
  }

  .selectors {
    @include fontSets($mainGreyColor, $mainFont, 300, 14px);
    &__pink {
      @include fontSets($mainPinkColor, $mainFont, 700, 14px);
    }
  }
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;

    &__text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      margin-bottom: 48px;
    }
    &__text-headline {
      @include fontSets($mainBlackColor, $mainFont, 400, 30px);
    }
    &__text-text {
      @include fontSets($mainGreyColor, $mainFont, 400, 14px);
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;

        &-card {
          background: #F8F8F8;
          width: 360px;
          height: 586px;

          display: flex;
          flex-direction: column;
        }
        &-card-image {
          @include flexCenter;
          background: #F7E4E2;
          height: 420px;
        }
        &-card_hover {
          width: 360px;
          height: 420px;

          background: rgba(58, 56, 56, 0.86);

          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          opacity: 0;
        }
        &-card_hover:hover {
          opacity: 100;
        }
        &-card_hover-button {
          @include flexCenter;
          width: 139px;
          height: 44px;
          border: 1px white solid;
          gap: 11px;
        }
        &-card-text {
          padding: 24px 29px 20px 18px;

          display: flex;
          flex-direction: column;
        }
        &-card-name {
          @include fontSets($mainBlackColor, $mainFont, 400, 14px);
        }
        &-card-description {
          margin: 12px 0 18px 0;
          @include fontSets($mainGreyColor, $mainFont, 400, 14px);
        }
        &-card-price {
          @include fontSets($mainPinkColor, $mainFont, 400, 16px);
        }
      }
  .hover-button-text {
    @include fontSets(white, $mainFont, 400, 14px);
  }
  &__button {
    @include flexCenter;
    gap: 22px;
    @include fontSets($mainPinkColor, $mainFont, 400, 16px);

    margin-top: 48px;

    width: 212px;
    height: 48px;
    border: 1px red solid;

    cursor: pointer;
  }

  &__button:hover {
    background: red;
    color: white;
    path {
      fill: white;
    }
  }
  @media (max-width: 1024px) {
    .products__cards {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 16px;
    }
  }
  @media (max-width: 425px) {
    .products__cards {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 16px;
    }
  }
}

.footer__features-feature {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 320px;
  gap: 1rem;
}

.footer {
  &__features {
    @include flexCenter;

    padding: 0 370px 0 370px;
    background: black;
    height: 341px;
    gap: 3rem;
  }
  &__pics {
    width: 47px;
    height: 35px;
  }
  &-icon {
    @include flexCenter;
    width: 31px;
    height: 32px;
    background: white;
  }
  &-icon:hover {
    background: $mainPinkColor;
    &svg {
      fill: white;
    }
  }
  &__headline {
    @include fontSets(white, $mainFont, 400, 20px);
  }
  &__description {
    text-align: center;
    @include fontSets(white, $mainFont, 300, 14px);

    height: 34px;
    width: 310px;
  }
  &__subscribe {
    @include flexCenter;
    height: 448px;
    gap: 224px;
    position: relative;

      &-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 360px;
      }
      &-right {
        display: flex;
        flex-direction: column;

        width: 500px;
      }
      &::after {
        content: "";
        background: url("img/footer/background.png") no-repeat;
        background-size: cover;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }
  }
  &__copyrights {
    @include flexCenter;
    height: 79px;
    background: black;
    gap: 600px;
    padding: 0 10px 0 10px;
      &-text {
        @include fontSets(white, $mainFont, 400, 20px);
        width: 332px;
      }
      &-icons {
      display: flex;
      gap: 8px;
    }
  }
  @media (max-width: 1024px) {
    .footer {
      &__features {
        flex-direction: column;
        height: 610px;
      }
      &__subscribe {
        flex-direction: column;
        gap: 25px;
      }
      &__copyrights {
        gap: 540px;
      }
    }
  }
  @media (max-width: 768px) {
    .footer {
      &__features {
        padding: 0 0 0 0;
      }
      &__copyrights {
        height: 143px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        padding: 0 32px 0 32px;
      }
      &__subscribe-right {
        scale: 0.9;
      }
      &__subscribe-left {
        scale: 0.9;
      }
    }

  }
  @media (max-width: 425px) {
    .footer__copyrights {
      flex-direction: column-reverse;
      justify-content: space-evenly;
    }
  }
}

.subscribe {
  &__photo {
    border-radius: 65px;
    width: 96px;
    height: 96px;
  }
  &__left-text {
    text-align: center;
    @include fontSets($mainBlackColor, $mainFont, 400, 20px);
  }
  &__right-text {
    text-align: center;
    @include fontSets($mainBlackColor, $mainFont, 500, 20px);
      &-highlight {
        font-size: 28px;
        font-weight: 900;
      }
  }
  &__input {
    width: 309px;
    height: 47px;
    background: #E1E1E1;
    padding-left: 22px;
    border-radius: 62px;
    border: none;
    position: relative;
    left: 24px;
  }
  &__right-form {
    @include flexCenter;
    margin-top: 38px;
  }
  &__input:focus {
    outline: none;
  }
  &__button {
    position: relative;
    right: 24px;
    top: 3px;
    &-text {
      position: absolute;
      top: 17px;
      left: 17px;
      @include fontSets(white, $mainFont, 400, 14px);
    }
  }
}
